body{font-family: Arial, Helvetica, sans-serif;}
ul,li,h1,h2,h3,h4,h5,h6,p{margin: 0;padding: 0; list-style-type: none}
/* global */
.fnt{font-size: 20px; padding-left: 10px}

/* header */
header{background: #20232a; color: #fff; width: 100%; position: fixed;}
header .logo{font-family: Arial, Helvetica, sans-serif;  font-weight: 700; color: #44c1e3; width: 350px; text-align: center;padding: 12px 0}
header .logo p{text-align: left; margin: 0 30px}
header .logo img{cursor: pointer;}
header nav {padding: 0 20px;}
header nav ul li{list-style-type: none; font-size: 18px; padding: 17px 0px 17px 0px;}
header nav ul li.active, header nav ul li:hover{color: #61dafb; border-bottom: 2px solid #61dafb; cursor: pointer;}

/* sidebar */
.sidebar {width: 350px;padding: 12px;border: 1px solid #ddd;height: 100%; position: fixed}
.sidebar .search{border-bottom: 1px solid #ddd; padding-bottom: 20px}
.sidebar{overflow-y: scroll}
.sidebar ul > li{display: flex; align-items: baseline; flex-wrap: wrap}
.sidebar h1{text-align: center; font-size: 16px; font-weight: 700; border-bottom: 1px solid #ddd; padding-bottom: 15px}
.sidebar ul > li > a{color: #000; font-size: 14px; padding: 12px;display: block}
.sidebar ul li > ul > li {font-size: 14px; padding-left: 30px}
.sidebar ul li > ul > li:first-of-type{font-weight: unset; font-size: 14px; text-align: unset}
.sidebar ul > li > a.active, .content .sidebar ul > li > a:hover{font-weight: 700; }

/* content */
main{padding-top: 63.28px}
.content {padding: 5px 20px; width: 74%; margin-left: 350px}
.content .item {width: 70%;}
.content .item h4{font-size: 24px; font-weight: 700; color:#00acdb; padding: 14px 0;}
.content .item p{color: #444444; font-size: 16px; line-height: 1.5em}
.content .item p{padding-bottom: 20px; padding-left: 25px}
.content .item p.note{font-style: italic}
.content .item img{display: block; margin: 0 auto; }
.content .item p.figure{text-align: center; width: 100%;}
.content .item li{list-style-type: disc; padding-bottom: 20px; }