body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}

.table td,
.table th {
  vertical-align: middle !important;
}

input::placeholder {
  color: #bbbbbb !important;
}

.Toastify__toast-body {
  margin-right: 0.5rem !important;
}

.Toastify__toast-container--top-center {
  left: 50% !important;
  transform: translateX(-50%) !important;
  margin-left: 0 !important;
  width: auto !important;
}

.Toastify__toast {
  padding: 1rem !important;
}
